div#body{
	width:600px;
	min-height:50px;
	background-color:#F00;
	font-family:Arial, Helvetica, sans-serif;
}
div.subapartado
{
	width:600px;
	min-height:50px;
/*	background-color:#0F6;*/
	background-color:#fbfbfb;
	
}
div.titulo
{
	width:600px;
	height:50px;
	/*background-color:#0C9;*/
	background-color:#fbfbfb;
	overflow:hidden;
	border:10px;
}
p.titulo
{
	margin:13px;
	color:#037ab2;
	font-weight: bold;
}
div.informacion
{
	width:600px;
	height:0px;
	/*min-height:180px;*/
	background-color:#f5f5f5;
	overflow:hidden;
	-webkit-transition:height 0.2s;
	
}
p.informacion
{
	margin:20px;
	text-align:justify;
	color:#5d7736;
	
}
div.subapartado:hover div.informacion
{
	/*height:180px;*/
	height:120px;
}
.wrapper
{
	 width:790px;
	 height:700px;
	 background:url(imagenes/fondo_faq.jpg) no-repeat top left; 
	 }
.men2u
{ 
	float:right; 
	width:77%; 
	/*background:url(../imagenes/fondomenu.jpg) repeat-x; */
	min-height:7%;
	background-color:#0079c2;
	margin:183px 98px 0 0;
	height:50px;
}
.men2u ul li
{
	height: 60px; 
	/*margin: 0 auto;*/ 
	border-right:0px solid #1474be;
	/*padding-left: 70px; */
	width:112x;
	height:50px;
	position: relative;
bottom: 4px;
padding-left:8px;
}
li{ list-style:none;}
ul{position: relative;
bottom: 12px;}
.beneficios
{
cursor:pointer;
	/*float:left;*/
	/*margin-top: -66px;
	margin-left: 41px;*/
	margin: 12px -92px;
}
.pestana
{
	width: 12px;
float: right;
height: 14px;
background: url(imagenes/arrow_sprite.png) no-repeat  ;
position: relative;
bottom: 27px;
right: 26px;
}
.pestana:hover
{
width: 12px;
height: 14px;
background-position:-12px 0px;

}
